/*Manipulação no JS*/


[data-dropMenu="menuDrop"] {
    position: relative;
}
[data-dropMenu="menuDrop"] .drop-down-menu{
    display: none;}
[data-dropMenu="menuDrop"]:hover .drop-down-menu,
[data-dropMenu="menuDrop"].ativo .drop-down-menu {
    display: block;
    animation: dropDown .7s forwards;
}
/*animação*/
@keyframes dropDown {
    from {
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    to { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

/*Fim Animação*/

/*Fim Manipulação no JS*/



.drop-down-menu{
    background-color: var(--cor6);
    border-radius: 3px;
    /* border: 10px solid rgb(0, 94, 255); */
    position: absolute;
}

.drop-down-menu::before{
    content: "⯅";
    color:var(--cor6);
    position: absolute;
    margin-top: -13px;
    margin-left: 10px;
   
}

.drop-down-menu li a{
    text-decoration: none;
    color: var(--cor4);
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    letter-spacing: 1.5px;
    margin-right: 10px;
    display: block;


}

.drop-down-menu li a:hover{
    color: var(--cor5);
}