.menu{
    background-color: var(---cor1);
    grid-column: 2/5;
    margin-bottom: 32px;
    /* display: flex; */
    margin-top: 30px;
}


.grid-container > img{
    width: 35px;
}

.menu > nav > ul{
    border: 2px solid rgb(9, 255, 0);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.menu > nav > ul > li > a{
    /* border: 2px solid black; */
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-right: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.875;
    color: var(---cor4);
}

@media(max-width: 650px){
    .menu{
        grid-column: 1;
        margin-top: initial;
    }

    .grid-container > img {
        
    }
}
