/* .modal {
}

.login-modal {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgb(157, 209, 248);
    width: 22rem;
    height: 18rem;
    border-radius: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.inpt-modal {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.label-modal {
    text-align: right;
    color: black;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
} */

.modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
        top: 0;
        left: 0;
    z-index: 1;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

.modal {
    background-color: #f7f7f7;
    min-width: 300px;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    border: 2px solid red;
}

.modal label {
    color: var(---cor4);
    font-weight: 600;
    font-family: "IBM Plex Mono", monospace;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.modal input {
    border: none;
    width: 200px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 10px;
}

.modal button [type="submit"] {
    display: block;
    background-color: var(---cor1);
}

.fecha-modal {
    width: 30px;
    height: 30px;
    background-color: var(---cor6);
    border: 4px solid var(---cor5);
    color: var(---cor5);
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    position: absolute;
        top: -30px;
        right: -30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.entar-login {
    background-color: var(---cor3);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;

}

.modal-container.ativo {
    display: flex;
}