
section-two > h1{
    grid-column: 1/4;
}

.list-curiosidades{
    grid-column: 1/4;
}

.list-curiosidades dt{
    color: var(---cor2);
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 1.5rem;
    /* cursor: pointer; */

}

.list-curiosidades dt::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 8px;
    background-color: var(---cor3);
    margin-right: 10px;
    margin-bottom: 5px;
}

.list-curiosidades dd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 40px;
}

[data-accordion = "accordion"] dd{
    display: none;
}

[data-accordion = "accordion"] dd:ativo{
    display: block;
    animation: anima-curiosedades .9s forwards;
}

[data-accordion = "accordion"] dt::after {
    content: "";
    margin-left: 10px;
}

[data-accordion = "accordion"] dt.ativo::after {
    content: "";
    margin-left: 10px;
}



/*Reponsividade*/
@media(max-widht: 650px){
    .list-curiosidades{
        grid-column: 1/3;
    }
    .list-curiosidades dt{
        font-size: 1.2rem;
        text-align: center;
    }

    .list-curiosidades dd{
        font-size: 1rem;

    }
.list-curiosidades dt::before{
    margin-bottom: 2px;
}

}